body header {
    height: 100px;
}

.pina-colour1 {
    background-color: #f7325e;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body * {
    /* color: #fef8cf; */
    font-family: 'Poiret One', cursive;
    font-weight: 800;
    color: rgb(20, 20, 20);
}

.bi {
    font-size: 40px;
}

<<<<<<< HEAD
#home-page {
    min-height: 100vh
=======
.modal {
   --bs-modal-border-width: 0px;
}

.modal-footer button{
    font-weight: 800;
}

.modal-content {
    background-color: #feffc5;
}

.modal-header , .modal-footer{
    border-color: rgb(20, 20, 20);
}

#learn-page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.learn-page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#learn-page-heading {
    text-align: center;
}

.learn-page-container section {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 25%;
    width: 50%;
}

.learn-page-img-container {
    display: flex;
    align-items: center;
}

.learn-page-info {
    flex-grow: 2;
    background-color: bisque;
    height: 100%;
    width: fit-content;
}

/* .learn-page-info-heading {
    width: 100%;
} */

.recipe-link-container {
    border: 2px solid;
    border-color:rgb(20, 20, 20);
    width: 10%
>>>>>>> 8e22669... Progress with flexbox on Learn page
}

main, .container {
    min-height: 100vh;
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);
}

.row> * {
    padding: calc(var(--bs-gutter-x) * .5);
}

/* .row-cols-2>* {
    padding-bottom: 50%;
    height: 0;
    position: relative;
} */

.card { 
    box-shadow: 0 0 5px grey;
    border: 0;
}
.cocktail-card-picture {
    display: none;
    height: auto;
    max-width: 100%;
}

.card-text {
    display: none;
    text-align: center;
    
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 50px;
    width: 100%;
    bottom: 0;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
}

footer > * {
    padding-left: 5px;
    height: fit-content;
}

footer * {
    display: inline-block;
    vertical-align: middle;
}

footer .github-link {
    width: auto;
}

footer .github-icon {
    width: 1em;
    height: 1em;
}

footer #copyright {
    margin-left: auto;
}

/* @media screen and (min-width: 992px) {
    .row-cols-lg-4>* {
        padding-bottom: 25%;
        height: 0;
        position: relative;
    }
} */


/* .card {
    height: 100%;
} */



/* .cocktail-card-back{
    height: 100%;
    width: auto;
}

.card-row {
    height: 100px;
}

.card-col , .card , .card-body{
    height: 100%;
} */